*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(235, 18%, 26%);
}

/* Global styles */
p {
  font-size: 16px;
}

h1, p, span, li, label{
  color: hsl(234, 29%, 20%);
}

ul {
  list-style-image: url('./assets/images/icon-list.svg');
  list-style-position: inside;
}

input, button{
  margin: 5px 0;
  width: 100%;
  padding: 15px 10px;
  border-radius: 7px;
}

input[type='text'],
input[type='email'],
input[type='number']{
  border: 1px solid hsl(231, 7%, 60%);
  outline: none;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus{
  border: 1px solid hsl(234, 29%, 20%);
}

input.invalid-input{
  border: 1px solid hsl(4, 100%, 67%);
  background-color: hsl(4, 100%, 93%);
  color: hsl(4, 100%, 67%);
}

input.invalid-input::placeholder{
  color: hsl(4, 100%, 67%);
}

input[type='submit'], input[type='button'], button{
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  transition: all .3s;
  margin-top: 20px;
}

input[type='submit']:hover,
input[type='button']:hover,
button:hover{
  background-color: hsl(4, 100%, 67%);
}

.label{
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.label span{
  color: hsl(4, 100%, 67%);
}


#container{
  background-color:  hsl(0, 0%, 100%);
  min-height: 100vh;
  -webkit-box-shadow: -1px 1px 15px -1px #27293F; 
  box-shadow: -1px 1px 15px -1px #27293F;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Form Content styles */
#form-content {
  display: block;
}

#form-content .ilustration{
  background-image: url('./assets/images/illustration-sign-up-mobile.svg');
  background-size: cover;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  min-height: 200px;
}

#form-content .description{
  padding: 20px;
}

#form-content .description p{
  margin: 20px 0;
}

#form-content .description li{
  font-size: 14px;
  margin: 10px 0;
}

#form-content form{
  margin-top: 50px;
}

/* Success Content styles */
#success-content{
  display: none;
  padding: 40px;
}

#success-content img{
  margin: 20px 0;
}

#success-content p{
  margin: 20px 0;
}

#success-content button{
  margin-top: 200px;
}

@media (min-width: 483px){
  #container{
    border-radius: 20px;
    min-height: auto;
  }

  #form-content .ilustration{
    border-radius: 15px;
  }

  #success-content button{
    margin-top: 20px;
  }

  #success-content{
    max-width: 400px;
  }
}

/* Desktop media query */
@media (min-width: 700px) {

  .content{
    width: auto;
    padding: 20px;
  }

  #form-content{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }

  #form-content .ilustration{
    width: 350px;
    background-image: url('./assets/images/illustration-sign-up-desktop.svg');
  }
  
}